:root {
    --main: #6f0000;
    --dark: #200122;
}

.bg-gradient{
    background: #200122;
    background: -webkit-linear-gradient(to bottom, #200122, #6f0000);
    background: linear-gradient(to bottom, #200122, #6f0000);
}

.bg-main{
    background-color: var(--main);
}

.bg-main-dark{
    background-color: var(--dark);
    &:hover{
        background-color: var(--main);
    }
}

.bg-button{
    background-color: var(--main);
    border: 2px solid var(--main);
    
    &:hover{
        background-color: var(--dark);
    }
}

.bg-button-gradient{
    background: #200122;
    background: -webkit-linear-gradient(to bottom, #6f0000, #200122);
    background: linear-gradient(to bottom, #6f0000, #200122);
}

.border-bottom-main{
    border-bottom: 2px solid var(--main);
}